
.vscode/launch.json
*.json
*.json
ScrabbleGame/bin/Debug/net7.0/ScrabbleGame.dll
ScrabbleGame/bin/Debug/net7.0/ScrabbleGame.exe
ScrabbleGame/bin/Debug/net7.0/ScrabbleGame.pdb
ScrabbleGame/bin/Debug/net7.0/Spectre.Console.dll
ScrabbleGame/obj/Debug/net7.0/apphost.exe
ScrabbleGame/obj/ScrabbleGame.csproj.nuget.g.props
ScrabbleGame/obj/ScrabbleGame.csproj.nuget.dgspec.json
ScrabbleGame/obj/project.nuget.cache
ScrabbleGame/obj/project.assets.json
ScrabbleGame/obj/Debug/net7.0/ScrabbleGame.pdb
ScrabbleGame/obj/Debug/net7.0/ScrabbleGame.genruntimeconfig.cache
ScrabbleGame/obj/Debug/net7.0/ScrabbleGame.GeneratedMSBuildEditorConfig.editorconfig
ScrabbleGame/obj/Debug/net7.0/ScrabbleGame.dll
ScrabbleGame/obj/Debug/net7.0/ScrabbleGame.csproj.FileListAbsolute.txt
ScrabbleGame/obj/Debug/net7.0/ScrabbleGame.csproj.CoreCompileInputs.cache
ScrabbleGame/obj/Debug/net7.0/ScrabbleGame.csproj.CopyComplete
ScrabbleGame/obj/Debug/net7.0/ScrabbleGame.csproj.AssemblyReference.cache
*.json
*.dll
*.exe
*.pdb
*.exe
*.dll
